body {
    background-image: url("/assets/accra-1024x808.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    font-family: 'Aclonica', sans-serif;
    font-weight: bolder;
    text-align: center;
    color: whitesmoke;
    margin-bottom: 0px;
    margin-top: 10px;
    padding-bottom: 2px;
    font-size: 48px;
    
  }
